

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(38, 41, 42, 0.518);
     .dialog{
        background-color: white;
        width: 300px;
        padding: 30px;
        border-radius: 10px;
     }
}