
.linkStyle{
    color:red;
    font-style: italic;
}


.linkStyle1{
    color:blue;
    font-weight: bold;
}

main{
    height: 50vh;
}

header{
    height: 100px;
    background-color: skyblue;
}
footer{
    height: 50vh;
    background-color: skyblue;
}