<h1>  {{ userName}} {{ title}}   </h1>    
<!-- one way binding  - სტრინგის ინტერპოლაცია -->

<a [href]="linkOfLogbook" [class]="color" style="">Link</a>    
<button [disabled]="isButtonDis">Disable</button>
<img [src]="imgSorce" alt="" [style.width]="imgWidth" >
<!-- property binding -->
 <button (click)="print()">click</button>
 <!-- event binding -->






  <!-- two way binding   [()]    FormsModule-->
  <br>
  <input type="text" [(ngModel)]="firstName"  >
  <button (click)="saveName()">Save</button>
  <br>
  <!-- <p>{{savedFirstName}}</p> -->
  <br>

  <button (click)="showList()">Show User List</button>

    <!-- სტრუქტურული დეკორატორი *ngFor   *ngIf -->

  <ul  *ngIf="isVisible">

    
     <div class="ligrppup" *ngFor="let el of namesArr let index =index">
        <li >{{el.toUpperCase()}}</li>
        <button  (click)="delete(index)">Dalete</button>
        <button  (click)="eddit(index)">Eddit</button>
     </div>
     <!-- <li  *ngFor="let el of namesArr">{{makeUpperCaase(el)}}</li> -->
  </ul>





   



  <button routerLink="/details/{{id}}" >Go to Details</button>